<label class="sr-only" for="prenom">Prénom</label>
<input type="text" placeholder="Prénom" class="form-control" name="prenom" id="prenom" required ng-model="hostingCtrl.host.prenom">

<label class="sr-only" for="login">Courriel</label>
<input type="email" placeholder="Courriel" class="form-control" name="courriel" id="courriel" required ng-model="hostingCtrl.host.courriel" >

<fieldset>
<label>Je parle :</label>
<div class="clearfix"></div>
<div class="checkbox col-lg-6">
	<label>
	  <input type="checkbox" name="language[]" value="Anglais"> Anglais
	</label>
</div>

<div class="checkbox col-lg-6" >
	<label>
	  <input type="checkbox" name="language[]" value="Flammand"> Flammand
	</label>
</div>
<div class="clearfix"></div>
<div class="col-lg-12">
  <input type="text" class="form-control" name="language[]" value="" placeholder="Je parle aussi...">
</div><!-- /.col-lg-6 -->
</fieldset>
<label class="sr-only" for="password">Choisissez un mot de passe</label>
<input type="password" placeholder="Choisissez un mot de passe" class="form-control" id="password" name="password" required ng-model="hostingCtrl.host.password">

<label class="sr-only" for="confirm_password">Confirmez le mot de passe</label>
<input type="password" placeholder="Répéter le mot de passe" class="form-control" id="confirm_password" name="confirm_password" required ng-model="hostingCtrl.host.confirm_password">

<label class="sr-only" for="adresse">Adresse</label>
<input type="text" placeholder="Adresse" class="form-control" name="adresse" id="adresse" required ng-model="hostingCtrl.host.adresse">

<label class="sr-only" for="ville">Code postal</label>
<input type="text" placeholder="Code postal" class="form-control" name="cp" id="cp" required ng-model="hostingCtrl.host.cp">

<label class="sr-only" for="ville">Ville</label>
<input type="text" placeholder="Ville" class="form-control" name="ville" id="ville" required ng-model="hostingCtrl.host.ville">

<label class="sr-only" for="zone_transport">Zone RATP / SNCF</label>
<input type="text" placeholder="Zone RATP / SNCF" class="form-control" name="zone_transport" id="zone_transport" ng-model="hostingCtrl.host.zone_transport">
